.header{
    width: 1349px;
    line-height: 100px;
    font-size: 12px;
    border-bottom: 2px solid #ff6700;
    position: relative;
    z-index: 20;
    height: 100px;
}
.header-center{
    width: 1226px;
    margin: 0 auto;
}
.header img{
    float: left;
    margin-right: 45px;
    margin-top: 26px;
    width: 48px;
    height: 48px;
}
.header h3{
    float: left;
    font-size: 28px;
    color: #424242;
}
.header .login{
    float: right;
    font-size: 12px;
}
.header .login a{
    color: #757575;
}
.header .login span{
    color: #e0e0e0;
}

.page-main{
    padding-top: 38px;
    padding-bottom: 38px;
    background: #f5f5f5;
}
.page-main .page-container{
    width: 1226px;
    margin: 0 auto;
}
.page-container .cart-empty{
    height: 273px;
    padding-left: 558px;
    margin: 65px 0 130px;
    background: url(../images/cart_img/cart-empty.jpg) no-repeat 124px 0;
    color: #b0b0b0;
    overflow: hidden;
}
.cart-empty h2{
    margin-top: 50px;
    margin-bottom: 0;
    margin: 70px 0 15px;
    font-size: 36px;
}
.cart-empty .login-desc{
    margin: 0 0 20px;
    font-size: 20px;
    color: #b0b0b0;
}
.cart-empty .btn{
    display: inline-block;
    width: 170px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
}
.cart-empty .login-btn{
    display: inline-block;
    margin-right: 10px;
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
}
.cart-empty .index-btn{
    border: 1px solid #ff6700;
    background-color: #f5f5f5;
    color: #ff6700;
}
.login-btn:hover {
    background-color: #f25807;
}
.index-btn:hover{
    border-color: #f25807;
}

/* 商品信息 */
.cart-goods{
    background: #fff;
    display: none;
}
.cart-goods .col-check i{
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #e0e0e0;
    margin-left: 24px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -1px;
    cursor: pointer;
    color: #333;
}
.cart-goods .col-check .icon-check{
    color: #fff;
    background-color: #fff;
    border-color: #e0e0e0;
}
.cart-goods .col-check .icon-checkbox-selected {
    color: #fff;
    border-color: #ff6700;
    background-color: #ff6700;
}
.cart-goods .list-head{
    height: 70px;
    line-height: 70px;
    padding-right: 26px;
    color: #424242;
}
.list-head .col{
    float: left;
}
.cart-goods .col-check{
    width: 110px;
    color: #fff;
}
.list-head .col-img{
    width: 120px;
}
.list-head .col-name{
    width: 380px;
}
.list-head .col-price{
    width: 75px;
    padding-right: 84px;
    text-align: right;
    color: #424242;
}
.list-head .col-num{
    width: 150px;
    text-align: center;
    color: #424242;
}
.cart-goods .col-total{
    width: 120px;
    padding-right: 81px;
    text-align: right;
}
.list-head .col-action{
    width: 80px;
    text-align: center;
}

.item-box{
    padding: 15px 26px 15px 0;
    border-top: 1px solid #e0e0e0;
}
.item-box .item-table{
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}
.item-table .item-row{
    display: table-row;
}

.item-box .col{
    display: table-cell;
    vertical-align: middle;
}
.item-box .col-img{
    width: 80px;
    height: 80px;
    padding-right: 40px;
    overflow: hidden;
}
.item-box .col-img img{
    width: 80px;
    height: 80px;
}
.item-box .col-name{
    width: 380px;
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item-box .col-name a{
    color: #424242;
}
.item-box .col-price{
    width: 75px;
    padding-right: 84px;
    text-align: right;
    color: #424242;
}
.item-box .col-num{
    width: 150px;
    text-align: center;
    color: #424242;
}
.item-box .col-num .change-num{
    width: 148px;
    height: 38px;
    border: 1px solid #e0e0e0;
    text-align: center;
    background-color: #fff;
    position: relative;
    zoom: 1;
}
.change-num a{
    float: left;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #757575;
    font-size: 20px;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}
.change-num input{
    float: left;
    width: 72px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    border-width: 0;
    color: #424242;
    font-size: 16px;
    text-align: center;
    outline: none;
}
.item-box .col-total{
    color: #ff6700;
    font-size: 16px;
}
.item-box .col-action{
    width: 80px;
    text-align: center;
}
.item-box .col-action .del{
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 12px;
    color: #757575;
    font-size: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}
.content{
    height: 30px;
    background: #f5f5f5;
}

/* 固定提示 */
.cart-bar{
    height: 50px;
    text-align: right;
    background-color: #fff;
    -webkit-transition: background .3s ease, top .3s ease;
    transition: background .3s ease, top .3s ease;
    position: relative;
    font-size: 14px;
}
.cart-bar a{
    color: #757575;
    -webkit-transition: color .3s;
    transition: color .3s;  
}

/* 左边 */
.cart-bar .section-left{
    float: left;
}
.cart-bar .cart-total {
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px solid #eee;
    color: #757575;
}
.cart-bar .back-shopping{
    line-height: 50px;
    margin-left: 32px;
}
.cart-bar .cart-total {
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px solid #eee;
    color: #757575;
}
.cart-bar .cart-total i {
    color: #ff6700;
}
.cart-bar .cart-coudan {
    color: #757575;
}
.cart-bar .cart-coudan a {
    margin-left: 3px;
    color: #ff6700;
}
.cart-bar .activity-money{
    padding: 0 13px;
    border-right: 1px solid #eee;
    color: #757575;
}
.cart-bar .total-price{
    /* margin-right: 250px; */
    color: #ff6700;
}
.cart-bar .total-price em {
    font-style: normal;
    font-size: 30px;
}
.cart-bar .btn {
    display: inline-block;
    width: 200px;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    margin-left: 50px;
    text-align: center;
    vertical-align: top;

    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
}
.cart-bar .buy-tip{
    width: 200px;
    height: 48px;
    line-height: 48px;
    position: absolute;
    top: -58px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ff6700;
    color: #ff6700;
    text-align: center;
}
.cart-bar .buy-tip .arrow {
    display: block;
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    overflow: hidden;
    _zoom: 1;
    position: absolute;
    left: 50%;
}
.cart-bar .buy-tip .arrow-a {
    bottom: -8px;
    margin-left: -10px;
    border-width: 8px 10px 0;
    border-color: #ff6700 transparent transparent;
    z-index: 1;
}
.cart-bar .buy-tip .arrow-b {
    bottom: -7px;
    margin-left: -8px;
    border-width: 7px 8px 0;
    border-color: #fff transparent transparent;
    z-index: 2;
}


/* 推荐 */
.cart-recommend{
    margin: 60px 0 0;
    width: 1226px;
}
.cart-recommend .xm-recommend-title{
    position: relative;
    margin: 0;
    height: 50px;
    font-size: 30px;
    font-weight: 400;
    color: #757575;
    border-top: 1px solid #e0e0e0;
    -webkit-font-smoothing: antialiased;
}
.xm-recommend-title span {
    position: absolute;
    top: -20px;
    left: 372px;
    height: 40px;
    width: 482px;
    line-height: 40px;
    text-align: center;
    display: block;
    background-color: #f5f5f5;
}
.cart-recommend{

}
.cart-recommend .row{
    margin-left: -14px;
}
.row:before, .row:after {
    content: " ";
    clear: both;
    height: 0;
    display: table;
}
.cart-recommend .row .brick-item{
    /* display: list-item; */
    float: left;
    position: relative;
    height: 300px;
    width: 194px;
    min-height: 1px;
    margin-bottom: 14px;
    margin-left: 14px;
    padding: 0 20px;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
}
.cart-recommend .row .brick-item .brick-img{
    display: block;
    padding: 40px 0 15px;
    height: 145px;
}
.row .brick-item .brick-img img{
    width: 140px;
    height: 140px;
}
.row .brick-item .name{
    margin-bottom: 10px;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.row .brick-item .name a{
    color: #333;
}
.row .brick-item .price{
    margin-bottom: 10px;
    color: #ff6700;
}
.row .brick-item .tips{
    position: relative;
    color: #757575;
}
.row .brick-item .tips .flag{
    position: absolute;
    left: 37px;
    top: 0;
    width: 120px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    border: 1px solid #ff6700;
    background: #fff;
    color: #ff6700;
    display: none;
}
.brick-item:hover >.tips .flag{
    display: block;
}
.tips .flag:hover{
    display: block;
    background: #ff6700;
    color: #fff;
}