.page-main{
    width:1349px;
    background: #f5f5f5;
    padding-top: 22px;
    /* height: 5654px; */
}
.page-main-center{
    width: 1226px;
    margin: 0 auto;
}
/* 手机 */
.main-phone{
    margin-bottom: 8px;
}
.phone-center{
    height: 628px;
}
.normal-top{
    position: relative;
}
.normal-more{
    position: absolute;
    right: 0;
    top:0;
}
.phone-top .phone-more a{
    /* display: block; */
    font-size: 16px;
    line-height: 58px;
    color: #424242;
}
.phone-more a:hover{
    color: #ff6709;
}
.phone-top .phone-more .iconfont{
    width: 12px;
    height: 12px;
    padding: 4px 6px;
    margin-left: 4px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 12px;
    background: #b0b0b0;
    color: #fff;
    vertical-align: 1px;
}
.phone-more a:hover .iconfont{
    background: #ff6709;
}
.phone-left{
     float: left;
}
.phone-left img{
    width: 234px;
    height: 614px;
}
.phone-right{
    width: 978px;
    float: left;
    margin-left: 14px;
    min-height: 1px;
}
.brick-list{
    width: 992px;
    height: 614px;
    margin:0 0 -14px -14px;
}
.brick-item{
    width: 234px;
    height: 260px;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    text-align: center;
}
.phone-left:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0,-2px,0);
}
.brick-item:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0,-2px,0);
}
.phone-right .brick-item .brick-img{
    display: block;
    margin: 0 auto 18px;
}
.phone-right .brick-item .brick-img img{
    width: 160px;
    height: 160px;
}
.brick-item .title{
    margin: 0 20px 11px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.brick-item .desc{
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
    color: #b0b0b0;
}
.brick-item .price{
    margin: 0;
    color: #ff6709;
}
.brick-item del{
    color: #b0b0b0;
}
.brick-item .flag{
    background-color: #e53935;
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: 2;
    width: 64px;
    height: 20px;
    margin-left: -32px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    /* color: #fff; */
}
.phone-bottom{
    margin: 28px 0 22px;
}
/* 家电 */
.main-jiadian{

}
.jiadian-more .tab-list{
    margin: 0;
    padding: 16px 0 0;
    font-size: 16px;
}
.jiadian-more .tab-list li{
    margin-left: 29px;
    /* float: left; */
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 0;
}
.tab-list li.tab-active{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.tab-list li:hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}

.jiadian-left{
    width: 234px;
    height: 614px;
    float: left;
}
.jiadian-item-1{
    padding: 0;
    margin: 0 0 14px 0;
    height: 300px;
}
.jiadian-item-1 img{
    height: 300px;
    width: 234px; 
}
.jiadian-item-1:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0,-2px,0);
}
.hidden-item{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 234px;
    height: 0px;
    overflow: hidden;
    font-size: 12px;
    background: #ff6700;
    /* display: none; */
    opacity: 0;
    transition: all .6s;
}
.hidden-item a{
    display: block;
    padding: 8px 30px;
    color: #fff;
    text-align: left;
}
.hidden-item span{
    line-height: 18px;
}
.hidden-item span.author{
    color: rgba(255, 255, 255, 0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.brick-item-m:hover .hidden-item{
    /* display: block; */
    opacity: 1;
    height: 76px;
}
/* 智能 */
/* 搭配 */
/* 配件 */
/* 右边固定工具谈 */
.home-right-bar .bar-top {
    padding: 0;
    margin: 0;
    border-top: 1px solid #f5f5f5;
    position: fixed;
    bottom: 70px;
    right: 50%;
    margin-right: -640px;
}
.home-right-bar .bar-s .bar-sort {
    width: 25px;
    height: 39px;
}
.home-right-bar .bar-sort {
    position: relative;
    display: block;
    width: 82px;
    height: 90px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-top: none;
}
.home-right-bar .bar-link {
    display: block;
    height: 100%;
    color: #757575;
}
.home-right-bar .bar-s .bar-img {
    width: 20px;
    height: 20px;
    position: relative;
    padding-top: 9px;
    margin: 0 0 0 2px;
}
.home-right-bar .bar-s .bar-img img {
    width: 20px;
    height: 20px;
    background-color: #fff;
}
.home-right-bar .bar-img .hover-img {
    display: none;
    background-color: #fff;
}
.home-right-bar .bar-s .bar-pop {
    left: -125px;
    top: 6px;
    width: 126px;
    height: 27px;
}
.home-right-bar .bar-pop {
    position: absolute;
    left: -137px;
    top: 0;
    display: none;
    height: 187px;
}
.home-right-bar .bar-s .bar-arrow {
    float: right;
    position: relative;
    z-index: 2;
    height: 27px;
    width: 11px;
    background-position: left center;
    margin-left: -1px;
    background: url(//i1.mifile.cn/f/i/2018/home/arrow.png) no-repeat left 38px;
}
.home-right-bar .bar-s .bar-pop-text {
    float: right;
    padding: 0 8px;
    padding-top: 0;
    height: 27px;
    line-height: 27px;
    background: #fff;
    border: 1px solid #f5f5f5;
    margin: 0;
    color: #757575;
    font-size: 14px;
    text-align: center;
}