/* 为你推荐 */
.tuijian-center{
    height: 320px;
    overflow: hidden;
}
.tuijian-item{
    height: 300px;
    width: 234px;
    float: left;
    background-color: #fff;
    text-align: center;
    /* position: relative; */
    margin-right: 14px;
    margin-bottom: 14px;  
    font-size: 14px;
}
.tuijian-item-4{
    margin-right: 0;
}
.tuijian-item .brick-img{
    display: block;
    padding: 40px 0 15px;
    height: 145px;
}
.tuijian-item .title{
    margin-bottom: 10px;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333333;
    line-height: 18px;
}
.tuijian-item .price{
    margin-bottom: 10px;
    color: #ff6700;
    line-height: 21px;
}
.tuijian-item .desc{
    color: #757575;
    line-height: 21px;
}
.tuijian-item:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0,-2px,0);
}
/* 热评产品 */
.hot-pro{
    /* margin-bottom: 22px; */
    height: 495px;
}
.hot-list{
    width: 1240px;
    height: 415px;
}
.hot-item{
    position: relative;
    float: left;
    width: 296px;
    height: 415px;
    margin-right: 14px;
    /* margin-bottom: 14px; */
    background: #fff;
}
.hot-item-4{
    margin-right: 0;
}
.hot-item .brick-img{
    display: block;
    margin: 0 0 28px;
}
.hot-item img{
    width: 296px;
    height: 220px;
}
.hot-item .review{
    height: 72px;
    margin: 0 28px 22px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    overflow: hidden;
}
.hot-item .author{
    /* position: relative; */
    height: 18px;
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
}
.hot-item .info{
    margin: 0 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.hot-item .info a{
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
    color: #333;
}
.hot-item .sep {
    color: #e0e0e0;
}
.hot-item .num{
    display: inline;
    margin: 0;
    color: #ff6700;
}
.hot-item:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0,-2px,0);
}

/* 内容 */
.content{
    height: 492px;
}
.content-list{
    width: 1240px;
    height: 420px;
}
.content-item {
    color: #ffac13;
    position: relative;
    float: left;
    width: 296px;
    height: 374px;
    padding: 45px 0 0 !important;
    border-top: 1px solid #e0e0e0;
    margin-right: 14px !important;
    /* margin-bottom: 14px; */
    background: #fff;
    text-align: center;
    border-top: 1px solid #ffac13;
}
.content-item .iconfont{
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 20px;
    height: 24px;
    padding: 12px 0;
    margin-top: -20px;
    font-size: 18px;
    line-height: 24px;
    background-image: none;
    background-color: rgba(66,66,66,0.2);
    color: #fff;
    opacity: 0;
    transition: all .6s;
    outline: none;
}
.content-item .icon-jiantou-copy{
    left: 0;
}
.content-item .icon-jiantou{
    right: 0;
}
.content-item-1{
    margin-left: 0;
}
.content-item-2{
    border-top: 1px solid #83c44e;
    color: #83c44e;
}
.content-item-3{
    border-top: 1px solid #e53935;
    color: #e53935;
}
.content-item-4{
    border-top: 1px solid #2196f3;
    color: #2196f3;
}
.content-item .title {
    margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.content-item .name{
    margin: 0 20px 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.content-item .name a{
    color: #333;
}
.content-item .review{
    margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
}
.content-item .review a{
    color: #b0b0b0;
}
.content-item .price{
    height: 21px;
    margin: 0 10px 15px;
    text-align: center;
    color: #333;
}
.content-item .duokan{
    color: #ffac13;
    display: block;
    border: 1px solid #ffac13;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto 15px;
    /* margin: 0 10px 15px; */
}
.content-item .duokan:hover{
    background-color: #ffac13;
    color: #fff;
}
.content-item .brick-img {
    display: block;
    width: 216px;
    height: 154px;
    margin: 0 auto;
}
.content-item img{
    width: 216px;
    height: 154px;
}
.content-item .sp{
    position: absolute;
    bottom: 15px !important;
    left: 0;
    width: 296px !important;
}
.sp .swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
    margin: 0 5px !important;
    border-radius: 10px !important;
    background: #757575 !important;
    border: 2px solid #b0b0b0;
    border-color: #fff !important;
}
.sp .swiper-pagination-bullet-active{
    border-color: #ff6700 !important;
    background: #fff !important;
    outline: none;
}
.content-item .sp .page:hover{
    background-color: #ffac13;
}
.content-item .sp .page-active{
    background-color: transparent;
    border: 2px solid #ff6700;
}
.content-item:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0,-2px,0);
}
.content-item:hover > .iconfont{
    opacity: 1;
}

/* 视频 */
.video{
    height: 403px;
}
.video-list{
    width: 1240px;
    height: 285px;
}
.video-item{
    position: relative;
    float: left;
    width: 296px;
    height: 285px;
    margin-right: 14px;
    text-align: center;
    background: #fff;
}
.video-item-4{
    margin-right: 0;
}
.video-item .video-img{
    display: block;
    width: 296px;
    height: 180px;
    margin: 0 0 28px;
}
.video-item .title{
    margin: 0 0 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.video-item .title a{
    color: #333;
}
.video-item .title a:hover{
    color: #ff6700;
}
.video-item .desc{
    height: 18px;
    margin: 0;
    font-size: 12px;
    color: #b0b0b0;
}
.video-item:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0,-2px,0);
}