
.site-bn-bar{
    width:1349px;
}
.banner,.container-shangou{
    /* margin-left: 56px; */
    width: 1226px;
    margin: 0 auto;
}
.site-bn-bar{
    height: 120px;
    background:url(../images/index_img/bar.jpg) -606px 0;
    cursor: pointer;
}
/* 轮播图 */
.banner{
    height: 644px;
    margin-bottom: 26px;
    position: relative;
}
.banner-left{
    position: absolute;
    left: 0;
    top: 0;
    width: 234px;
    z-index: 5;
}
.banner-ul{
    background: rgba(0,0,0,0.6);
    padding: 20px 0;
}
.banner-ul li .ul-a{
    display: block;
    position: relative;
    width: 204px;
    height: 42px;
    padding-left: 30px;
    color: white;
    font-size: 14px;
    line-height: 42px;
    background:url(../images/index_img/nav-jiantou.png) no-repeat 200px 12px;
    background-size: 10% 50%; 
}
.banner-ul .ul-a:hover{
    background-color: #ff6700;
}
.banner-ul .ul-a:hover + .hidden-left-pro{
    display: block;
}
.banner-ul li .hidden-left-pro{
    position: absolute;
    width: 992px;
    height: 458px;
    left: 234px;
    top: 0;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
    border: 1px solid #e0e0e0;
    border-left: 0;
    z-index: 24;
    display: none;
}
.banner-ul li .hidden-left-pro .hidden-small-box{
    width: 248px;
    height: 76px;
    float: left;
    position: relative;
    /* background: #ef3a3b; */
}
.banner-ul li .hidden-left-pro a{
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    transition: color .2s;
}
.banner-ul li .hidden-left-pro a img{
    width: 40px;
    height: 40px;
    margin-right: 12px;
    vertical-align: middle;
}
.banner-ul li .hidden-left-pro a span{
    line-height: 40px;
    color: #333;
}
.banner-ul li .hidden-left-pro a .text{
    color: #ff6700;
}
.banner-ul li .hidden-left-pro a:hover >span{
    color: #ff6700;
}

.banner-icon{
    height: 166px;
    background: #605750;
    margin-top: 14px;
    padding-top: 4px;
}
.banner-icon li{
    float: left;
    text-align: center;
    width: 75px;
    height: 63px;
    padding-top: 18px;
    border-right: rgba(176, 176, 176, 0.1) 1px solid;
    border-bottom: rgba(176, 176, 176, 0.1)  1px solid;
}
.banner-icon .bottom-none{
    border-bottom: none;
}
.banner-icon .right-none{
    border-right: none;
}
.banner-icon li a{
    display: block;
    font-size: 12px;
    color: #d2cecb;
    margin-top: 8px;
}
.banner-icon li .icon-qianbao{
    font-size: 24px;
    color: #d2cecb;
}
.banner-icon li:hover a{
    color: white;
}
.banner-icon li:hover .icon-qianbao{
    color: white;
}

/* 轮播图 */
.banner-container .swiper-slide{
    width: 1226px;
    height: 460px;
}
.banner1{
    background: url(../images/index_img/banner1.jpg) no-repeat;
}
.banner2{
    background: url(../images/index_img/banner2.jpg) no-repeat;
}
.banner3{
    background: url(../images/index_img/banner3.jpg) no-repeat;
}
.banner4{
    background: url(../images/index_img/banner4.jpg) no-repeat;
}
.banner5{
    background: url(../images/index_img/banner5.jpg) no-repeat;
}
.swiper-button-white{
    outline: none;
    width: 41px !important;
    height: 69px !important;
    background-size: 20px 35px !important;
    color: #d2cecb !important;
}
.swiper-button-white:hover{
    background: rgba(0,0,0,0.45);
    background-repeat:no-repeat;
    background-position: center;
}
.left-jiantou{
    left: 234px !important;  
}
.right-jiantou{
    right: 0 !important;  
}

.swiper-container-horizontal>.banner-pagination{
    text-align: right;
    left: -20px !important;
}
.banner-pagination .swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
    margin: 0 5px !important;
    border: 2px solid #fff;
    border-radius: 10px !important;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
    background: rgba(0,0,0,0.4) !important;
    outline: none;
}
.banner-pagination .swiper-pagination-bullet-active{
    background: rgba(255,255,255,0.4) !important;
    border-color: #757575;
    outline: none;
}


.banner-small-img{
    position: absolute;
    top: 474px;
    left: 248px;
}
.banner-small-img a{
    display: block;
    float: left;
    margin-right: 14px;
}
.banner-small-img a:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.banner-small-img a img{
    width: 316px;
    height: 170px;
}
.banner-small-img .last-img{
    margin-right: 0px;
}
/* 开始闪购 */
.normal-top{
    height: 58px;
}
.normal-top h2{
    line-height: 58px;
    font-size: 22px;
    float: left;
    color: #333;
    font-weight: 200;
}
.shangou-top .more{
    float: right;
    margin-top: 24px;
}
.shangou-top .more a{
    display: block;
    float: left;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    border: 1px solid #e0e0e0;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: #b0b0b0;
}
.shangou-top .more .a-left{
    color: #e0e0e0;
    border-right: none;
}
.shangou-top .more a:hover{
    color: #ff6700;
}
.shangou-center{
    height: 380px;
}
.shangou-center .item{
    float: left;
    width: 234px;
    height: 300px;
    padding-top: 39px;
    border-top-width: 1px;
    border-top-style: solid;
    text-align: center;
    background: #fafafa;
    -webkit-transition: all .6s;
    transition: all .6s;
    text-align: center;
    margin-right: 14px;
}
.shangou-center .center-left{
    border-top-color: #e53935;
    background: #f1eded;
}
.center-left .time-title{
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px;
}
.center-left img{
    margin: 25px auto;
}
.center-left .sub{
    color: rgba(0,0,0,0.54);
    font-size: 15px;
}
.center-left .time{
    width: 168px;
    margin: 28px auto 0;
}
.center-left .time .box{
    width: 46px;
    height: 46px;
    background: #605751;
    color: #fff;
    font-size:24px;
    line-height: 46px;
    float: left;
}
.center-left .time .dosh{
    width: 15px;
    float: left;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
}

.center-right{
    width: 1984px;
    margin-left: 0px;
    background: #d2cecb;
}
.center-right .item-1{
    border-top-color: #ffac13;
}
.center-right .item-2{
    border-top-color: #83c44e;
}
.center-right .item-3{
    border-top-color: #2196f3;
}
.center-right .item-4{
    border-top-color: #e53935;
}
.center-right .content{
    position: relative;
}
.center-right .content .title{
    margin: 0 20px 11px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item .content .thumb{
    display: block;
    width: 160px;
    margin: 0 auto 22px;
}
.item .content img{
    width:160px;
    height: 166px;
}
.content .desc{
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
    color: #b0b0b0;
}
.content .price{
    margin: 0;
    color: #ff6709;
}
.content del{
    color: #b0b0b0;
}
.content .flag{
    background-color: #e53935;
    position: absolute;
    top: -40px;
    left: 50%;
    z-index: 2;
    width: 64px;
    height: 20px;
    margin-left: -32px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    /* color: #fff; */
}
.bottom{
    margin: 2px 0 42px;
    overflow: hidden;
    height: 120px;
    width: 1226px;
}